/*Fonts*/
@font-face {
font-family: 'ShadowsIntoLight';
src: url('fonts/ShadowsIntoLight.ttf');
}

@font-face {
font-family: 'VarelaRound';
src: url('fonts/VarelaRound-Regular.ttf');
}

/*Color*/
.color-yellow {
    color: #F9AC08;
}

.color-green {
    color: #AAC720;
}

.color-blue {
    color: #01ABCF;
}

.color-pink {
    color: #EA3A68;
}

.color-white {
    color: #FFFFF;
}

.color-lightgray {
    color:#979CB8;
}

.color-darkgray {
    color: #505670;
}

.color-papergray {
    color:#F5F5F5;
}

h1 {
     font-family: ShadowsIntoLight;
     font-size: 50px;
     color: #FFFFFF;
     white-space: nowrap;
     text-align:center;
}

h2 {
    font-family: ShadowsIntoLight;
    font-size: 30px;
    color: #FFFFFF;
    white-space: nowrap;
    text-align:center;
}

h3 {
    font-family: ShadowsIntoLight;
    font-size: 30px;
    color: #979CB8;
    white-space: nowrap;
    text-align:center;
}

h5 {
    font-family: VarelaRound;
    font-size: 15px;
    color: #FFFFFF;
    text-align:center;
}

p {
    font-family: VarelaRound;
    font-size: 20px;
    color: #FFFFFF;
    text-align:center;
}

header {
    margin-top: 60px;   
}

body {
    background-color: #F9AC08;
}

label {
    padding: 0;
    margin: 0;
}

div {
    padding: 0;
    margin: 0;
}

.big-btn {
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: ShadowsIntoLight;
  color: #ffffff;
  font-size: 40px;
  background: #3498db;
  text-align: center;
  padding: 50px;
  text-decoration: none;
}

.big-btn:hover {
  background: #424547;
  text-decoration: none;
}

.small-btn {
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: ShadowsIntoLight;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.small-btn:hover {
  background: #424547;
  text-decoration: none;
}

/* lists */
ul.list-bar {
  list-style: none;
}

li.list-selected {
  background-color: #979CB8;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
}

li.list-unselected:hover {
  background-color: #979CB8;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  cursor: pointer;
}

li.list-unselected {
  background: #FFF;
  padding: 5px 10px 5px 10px;
}

li.list-empty {
  background: #FFF;
  padding: 5px 10px 5px 10px;
}

input {
  width: 100%;
  background: #fff;
  box-shadow: 0;
  border: 0px;
  color: ##505670;
  outline: none;
  padding: 5px;
  font-family: VarelaRound;
}

h4 {
  font-family: VarelaRound;
  font-size: 16px;
  text-align: left;
  color:#fff;
  font-weight: bold;
}

#red, #green, #blue {
  float: left;
  clear: left;
  width: 400px;
  margin: 15px 0;
}

#swatch {
  width: 120px;
  height: 100px;
  margin-top: 18px;
  margin-left: 435px;
  background-image: none;
}

#red .ui-slider-range { background: #ef2929; }
#green .ui-slider-range { background: #8ae234; }
#blue .ui-slider-range { background: #729fcf; }

#slider{ value: 65;}

.one {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    animation: dot 1.3s infinite;
    animation-delay: 0.0s;
}

.two {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
      animation: dot 1.3s infinite;
      animation-delay: 0.2s;
}

.three {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
     animation: dot 1.3s infinite;
     animation-delay: 0.3s;
}

@-webkit-keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}

span.ellipse {
  color:#fff;
  font-family: ValeraRound;
  margin-top: -10px;
  margin-bottom: 10px;
}

.deviceSlide {
  width: 30px;
  height: 35%;
  margin: 10px;
}

.eventSlide {
  background-color: white;
  width: 30px;
  height: 35%;
  margin: 10px;
}

.medium_icon {
  height: 75px;
  width: 75px;
}

.large_icon {
  width: 55%;
  margin-left: 25%;
}

.deviceSlide:hover {
  background-color:#979CB8; 
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}